.form {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: #292929;
	width: 400px;
	height: 500px;
	border-radius: 10px;
	gap: 1.5em;
	padding: 2em 2em;
	border: 1px solid rgba(255, 255, 255, 0.3);
	& div {
		display: flex;
		flex-direction: column;
		background-color: #222222;
		border: 1px solid rgba(255, 255, 255, 0.2);
		padding: 8px 10px;
		gap: 0.5em;
		border-radius: 4px;
		width: 85%;
		height: 18%;
	}
}
